.footer {
  background-color: gray;
  font-size: 2rem;
    position:sticky;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
}

a {
  color: black;
}

.fab {
  padding: 0 3px;
}
