.card-deal {
    width: 18vw;
    padding: 1rem;
    overflow: hidden;
    margin: 1rem;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.imageContainer {
    width: 120px;
}

a {
    color: #589559;
    font-weight: bold;
}

.deal {
    width: 8rem;
}



.dealButton {
    background-color: #2a4f86;
    border: none;
}
