.card-deal {
    width: 15rem;
    padding: 1rem;
    overflow: hidden;
    height: 13vw;
    margin: 1rem;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

a {
    color: #589559;
    font-weight: bold;
}

.deal {
    width: 8rem;
}

.deal-link {
    color: #589559;
}